body{
    background-color: black;
}

h1{
    color: greenyellow;
    text-align: center;    
}

.calc{
    margin-left: auto;
    margin-right: auto;
}

input{
    width: 100%;
    padding: 20px 40px;
    background-color: greenyellow;
}

.row{
    display: flex;
}

button{
    color: greenyellow;
}