body{
    background-color: black;
    text-align: center;
}

h1{
    color: greenyellow;
    text-align: center;    
}

.calc{
    margin-left: auto;
    margin-right: auto;
}

input{
    width: 100%;
    padding: 20px 40px;
    background-color: greenyellow;
    font-size: 24px;
    font-weight: bold;
}

.calculator{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    color: greenyellow;
}

button{
    padding: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: greenyellow;
    border-radius: 5px;    
}

#input-field{
    width: 75%;
}

#cancel{
    width: 25%;
}